body{
    background-color: hsl(180, 88%, 42%);
}
h1{
    color:rgb(112, 69, 5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
}
h3{
    
    background-color: rgb(9, 33, 139);
    color:aqua;
}

#p1{
   border-top: 2px dotted rgb(228, 59, 200);
   color:rgb(2, 63, 2);
}
#p3{
    border-bottom:2px solid #790707
}
